{% load auth_extras %}
{% load static %}

<link rel="stylesheet" href="{% static 'styles/main.css' %}">

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
<div class="sidebar">
    <a href="{% url 'home:landing' %}">Home</a>
    <a href="{% url 'home:customer-list' %}">Customers</a>
    {% if request.user|has_group:'sales_managers' %}
        <a href="{% url 'customers:create-customer' %}">Create customer</a>
        <a href="{% url 'invoices:create-invoice' %}">Create Invoice</a>
    {% endif %}
    <hr>
    {% if user.is_authenticated %}
            <h6 style="padding-left: 16px;">{{ user.first_name }}</h6>
            <a href="{% url 'logout' %}">Logout</a>
        {% else %}
            <a href="{% url 'login' %}">Login</a>
    {% endif %}
</div>

</body>
</html>