{% load static %}
<link rel="stylesheet" href={% static 'styles/main.css' %}>
{% block container %}

    <div class="card">
        <div class="card-body mx-4">
            <div class="container">
                <p class="my-5 mx-5" style="font-size: 40px;">Invoice #{{ invoice.number }}</p>
                <div class="row">
                    <div class="order-date" style="font-size: 15px">
                        <strong>Order date: {{ invoice.order_date }}</strong>
                    </div>
                    <div class="due-date" style="font-size: 15px">
                        <strong>Due date: {{ invoice.due_date }}</strong>
                    </div>
                    <strong class="customer-name" style="font-size: 15px">{{ invoice.customer.name }}</strong>
                    <li class="bill_to_address" style="font-size: 15px">
                        {{ invoice.customer.bill_to_address }}
                    </li>
                    {% for product in invoice.products.all %}
                            <hr>
                            <div class="col-xl-10" style="font-size: 15px">
                                <p>{{ product }} - Quantity: {{ quantity }}</p>
                            </div>
                            <div class="col-xl-2">
                                <p class="float-end" style="font-size: 15px"> - {{ product.price }} {{ invoice.currency_code }} (price per 1
                                    item)
                                </p>
                            </div>
                    {% endfor %}
                    <hr style="border: 2px solid black;">
                </div>
                <div class="row text-black">

                    <div class="col-xl-12">
                        <p class="float-end fw-bold" style="font-size: 20px">Total: {{ total }} {{ invoice.currency_code }}
                        </p>
                    </div>
                    <hr style="border: 2px solid black;">
                    <div class="col-xl-12">
                        <p class="float-end fw-bold" style="font-size: 15px">Please pay to the below bank account within {{ invoice.payment_terms }}</p>
                        <p class="float-end fw-bold" style="font-size: 15px">International Bank of the World</p>
                        <p class="float-end fw-bold" style="font-size: 15px">IBAN: WO123123123123123123</p>
                        <p class="float-end fw-bold" style="font-size: 15px">SWIFT / BIC: WO875WO90</p>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock container %}
